{% extends "layouts/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% block content %}
{% csrf_token %}
<div class="container mt-4">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="table-responsive">
                        <table id="datatable-apoderado" class="table">
                            <caption>
                                Apodeardos.
                            </caption>
                            <thead>
                                <tr>
                                    <th class="centered">#</th>
                                    <th class="centered">Nombre</th>
                                    <th class="centered">Apellido</th>
                                    <th class="centered">Correo</th>
                                    <th class="centered">Contacto</th>
                                    <th class="centered">Apoderado de</th>
                                    <th class="centered">Editar</th>
                                    <th class="centered">Elminar</th>
                                </tr>
                            </thead>
                            <tbody id="tableBody_apoderado"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
<!-- Incluye el archivo JavaScript -->
<script src="{% static 'assets/js/representative/datatable.js' %}"></script>
{% endblock content %}
